body{
    background: lightblue;
    font-family: Arial, sans-serif;
    font-size: 20px;
}
.row {
    display: flex; 
    justify-content: center; 
    list-style: none;
    padding: 10px; 
    text-align: center;
}

.row li {
    display: inline-block; 
    margin: 0; 
    padding: 0; 
}

.row li img {
    width: 60px; 
    height: 60px; 
}

.fotito{
    width: 20%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

div p{
    text-align: center;
}
.btn{
    width:150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    box-shadow: 4px 4px gray;
    
}
.espacios{
    padding-top: 25px;
    padding-bottom: 25px;
    }
img{
    width: 25%;
}
footer {
    text-align: center;
    margin-top: 80px;
}